body {
  background-color: black;
  margin-top: 10%;
}

h1 {
  color: blue;
  text-align: center;
  position: relative;
  font-size: 100px; 
}

h2 {
  color: white;
  flex-grow: 1; 
}

input {
  display: flex;
  margin: 0 auto;
  width: 500px;
}

button {
  display: flex;
  margin: 0 auto;
}

li {
  display: flex;
  justify-content: center;
}

#quotes {
  color: white;
  width: fit-content;
}

.pure-menu-heading:hover {
  font-size: 110%;
  color: white;
  background-color: black;
  box-shadow: 0 0 3px 3px rgb(15, 15, 15),
              3px 3px 7px 7px rgb(133, 8, 250);
}

input:hover {
  box-shadow: 0 0 5px 5px rgb(255, 254, 254);
}

button:hover {
  font-size: 110%;
  color: white;
  background-color: black;
  box-shadow: 0 0 3px 3px rgb(15, 15, 15),
              3px 3px 7px 7px rgb(8, 250, 81);

}
