body {
  background-color: black;
  margin: 3%;
}

h1 {
  color: rgb(133, 8, 250);
  text-align: center;
  position: relative;
  font-size: 100px;
  margin: 3%;
}

h2 {
  color: white;
  flex-grow: 1; 
}

input {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  min-width: 500px;
}

button {
  display: flex;
  margin: 0 auto;
  justify-content: center;
}

/* logo images */
#img-position {
  margin-left: auto;
}

/* page structure */
.pure-menu {
  display: block;
}

.pure-menu-link {
  padding: 0;
}

/* search adjustment */
.float-left {
  float: left;
  margin: 3%;
}

/* results display */
#search-results {
  display: inline-block;
  flex-direction: column;
  margin-top: 5%;
  width: 100rem;
  min-width: 70%;
position: absolute;
}

/* button hovers */
.pure-menu-link:hover {
  color: white;
  background-color: black;
  box-shadow: 0 0 3px 3px rgb(15, 15, 15),
              3px 3px 7px 7px rgb(133, 8, 250);
}

.pure-menu-heading:hover {
  font-size: 110%;
  color: white;
  background-color: black;
  box-shadow: 0 0 3px 3px rgb(15, 15, 15),
              3px 3px 7px 7px rgb(133, 8, 250);
}

input:hover {
  box-shadow: 0 0 5px 5px rgb(255, 254, 254);
}

button:hover {
  cursor: pointer;
  font-size: 110%;
  color: white;
  background-color: black;
  box-shadow: 0 0 3px 3px rgb(15, 15, 15),
              3px 3px 7px 7px blue;
}

/* Notes */

/* future code for gif results? */
/* .wrapper {
  display: flex;
  justify-content: space-between;
  white-space: wrap;
} */

/* @media screen and (position: absolute){
  #search-results {}
}
width = 2179 */


/* To do */

/* style text for results */
/* button hover over movies */
/* dividers for each title and gif */
/* media queries */
/* button for more gifs */

/* Free time to do */
/* check the actor and movie names to confirm correct */
