body {
  background-color: black;
  margin: 3%;
  font-family: 'IBM Plex Mono', monospace;
}

h1 {
  display: flex;
  color: rgb(133, 8, 250);
  align-items: baseline;
  font-size: 100px;
  justify-content: center;
  margin: 0;
}

h2 {
  color: white;
  background-color:  rgb(133, 8, 250);
  text-align: center;
  height: 2vw;
  margin: 0;
  padding-top: 10px;
}

input {
  display: flex;
  border-radius: 5px;
  width: 30vw;
  margin:auto;
  justify-content: center;
}

#text-input {
  padding: 8px;
}

.wrapper {
  display: inline-flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

button {
  display: flex;
  margin: 0 auto;
  border-radius: 5px;
  background-color: black;
  color: white;
  box-shadow: 2px 2px 0 0 rgb(253, 251, 251);
}

#style-main {
width: 100%;
}

#quotes {
    color: white;
    letter-spacing: 2px;
    max-width: fit-content;
    min-width: fit-content;
    line-height: 2.5;
    display: flex;
    margin: 0 auto;
    justify-content: center;
  }

.quote {
  font-style: italic;
}

.movie {
  font-weight: bolder;
}

/* logo images */
#img-position {
  margin-left: auto;
  border-radius: 5px;
}

/* page structure */
.pure-menu {
  box-sizing: none;
  width: max-content;
}

.pure-menu-link {
  padding: 0;
}

/* results display */
#search-results {
  background-color: black;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 1.5%;
  width: 100%;
}

/* button hovers */
.pure-menu-link:hover {
  color: white;
  background-color: black;
  box-shadow: 0 0 3px 3px rgb(15, 15, 15),
    3px 3px 7px 7px rgb(133, 8, 250);
}

.pure-menu-heading:hover {
  font-size: 110%;
  border-radius: 5px;
  color: white;
  background-color: black;
  box-shadow: 0 0 5px 0 rgb(15, 15, 15),
  0 0 14px 7px rgb(0, 255, 55);
}

input:hover {
  box-shadow: 0 0 5px 5px rgb(255, 254, 254);
}

button:hover {
  cursor: pointer;
  font-size: 110%;
  color: white;
  background-color: black;
  box-shadow: 0 0 5px 0 rgb(15, 15, 15),
    0 0 14px 5px rgb(0, 255, 55);
}

footer {
  height:29rem;
  align-items:flex-end;
  color:grey;
  text-align:center;
  display:flex;
  justify-content:center;
}

/* @media screen and (position: absolute){
  #search-results {}
} < width = 2179 */
