body {
  background-color: black;
}


ul {
  float: right;
  margin-top: 50px;
}

h1 {
  color: blue;
  text-align: center;
  position: relative;
  font-size: 100px;

}

/* h2 {
  color: white;
} */

input {
    display: flex;
  margin: 0 auto;
  justify-content: center;
  width: 500px;
}

button {
    display: flex;
    margin: 0 auto;
  justify-content: center;
}
 
.pure-menu-link {
  margin: 20px;
  color: blueviolet;
  justify-content: space-between

}
.pure-menu-link:hover {
  font-size: 110%;
  color: white;
  background-color: black;
  box-shadow: 0 0 3px 3px rgb(15, 15, 15),
              3px 3px 7px 7px rgb(133, 8, 250);
}

.pure-menu-heading:hover {
  font-size: 110%;
  color: white;
  background-color: black;
  box-shadow: 0 0 3px 3px rgb(15, 15, 15),
              3px 3px 7px 7px rgb(133, 8, 250);
}

input:hover {
  box-shadow: 0 0 5px 5px rgb(255, 254, 254);
}

button:hover {
  font-size: 110%;
  color: white;
  background-color: black;
  box-shadow: 0 0 3px 3px rgb(15, 15, 15),
              3px 3px 7px 7px rgb(133, 8, 250);

}

#search-results {
  display: flex;
  margin: 10em;
  flex-direction: column;
}

h2 {
  color: white;
  flex-grow: 1; 
}