ul {
    float: right;
    margin-top: 50px;
}

h1 {
    text-align: center;
    margin-top: 0px;
    margin-bottom: auto;
    font-size: 100px;
}

input {
    display: flex;
  margin: 0 auto;
  justify-content: center;
  width: 500px;
}

button {
    display: flex;
    margin: 0 auto;
  justify-content: center;
}

.cat {
display: flex;
justify-content: center;
height: 350px;
}

body {
  margin-bottom: 50px;
}