ul {
    float: right;
    margin-top: 50px;
}

.pure-menu-link {
  color: blueviolet;
  justify-content: space-between;
}

h1 {
  color: blue;
    text-align: center;
    margin-top: 250px;
    font-size: 100px;

}

input {
    display: flex;
  margin: 0 auto;
  justify-content: center;
  width: 500px;
}
button {
    display: flex;
    margin: 0 auto;
  justify-content: center;

}
 
body {
  background-color: black;
}
